:root{
    --vermelho: #F8F8FF;
    --preto: #141414;
}

/*Reset CSs*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Delimita o espaço dos elementos*/
}

/*elemento base*/
body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex; /*Alinha os elementos em tela --> em linha*/
    flex-direction: row;
    align-items: center; /*Alinha os elementos em coluna*/
    justify-content: space-between; /*Espaço entre elementos*/
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'New Tegomin', serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)0%), url('https://i.pinimg.com/originals/82/27/ff/8227ff562d1520aead142c620f2d668d.jpg');

    height: 550px;
    background-size: cover; /*Limita o espcaço do background*/
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Kiwi Maru', serif;
    color: white;

}

.filme-principal .titulo{
    margin-top: 2%;
    font-size: 40px;
    font-family:'Trebuchet MS', Arial, sans-serif    ;
    color: white;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao:hover{
    
}

.botao i{
    margin-right: 8px;
}

.container{

    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}