/*Titulo Explorar mais jogos*/
.cont-jogos h1{
    font-family: 'New Tegomin', sans-serif;
    text-align: center;
    color:rgb(0, 0, 0);
    margin: auto;
    position:relative;
    top:50px;
}

/*Configuracoes sobre as imagens dos jogos*/
.cont-jogos .jogos img{
    margin: 5px;
    padding: 1px;
    width: 200px;
    position:relative;
    top:70px;
    left:150px;
    float:left;
    
}

/*Animacao*/
.cont-jogos .jogos 
    img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        border: 1px solid blue; /*Animacao com borda azul*/
      }
      
/* Apto a mudancas
.cont-jogos .jogos {
    color:rgb(255, 0, 0);
    font-style: normal;
    font-size: 20px;
    float:right;
    font-family: 'New Tegomin', sans-serif;
    position: relative;
    top:1550px;
}
*/


/*"Botao" ==> Apto a mudancas*/ 
.result  a h1 {
    color:#ccbe00;
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
    font-family: 'New Tegomin', sans-serif; 
    text-decoration: solid;
}

/*Sem alteracoes*/
a{
    text-decoration: none;
}

/*Uma regra de quando a tela ter tantos pixels*/
@media screen and (max-width: 800px) {
    .cont-jogos .jogos img
    {   
        margin: 5px;
        padding: 1px;
        width: 200px;
        position:relative;
        top:70px;
        left:90px;
        float: none;
    
    } /*Os elementos links, ficam na vertical, um embaixo do outro*/

    /*"Botao" ==> Apto a mudancas*/ 
    .result  a h1 {
    color:#ccbe00;
    text-align: center;
    margin-top: 78px;
    font-size: 30px;
    font-family: 'New Tegomin', sans-serif; 
    text-decoration: solid;
}
  }
  