.cont-jogos h1{
    font-family: 'New Tegomin', sans-serif;
    text-align: center;
    color:black;
    margin: auto;
    position:relative;
    top:50px;
}

.cont-jogos .jogos img{
    margin: 5px;
    padding: 1px;
    width: 200px;
    position:relative;
    top:70px;
    left:20px;
    float:left;
    
}

.cont-jogos .jogos 
    img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        border: 1px solid blue;
      }

.cont-jogos .jogos #img-jogo{
    color:black;
    font-style: normal;
    font-size: 20px;
    float:right;
    font-family: 'New Tegomin', sans-serif;
    position: relative;
    top:1550px;
}

/*Botao*/
.result  a h1 {
    color:#ccbe00;
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
    font-family: 'New Tegomin', sans-serif; 
    text-decoration: solid;
}

/*Sem alteracoes*/
a{
    text-decoration: none;
}

