.cont-jogos h1{
    font-family: 'New Tegomin', sans-serif;
    text-align: center;
    color:black;
    margin: auto;
    position:relative;
    top:50px;
}

.cont-jogos .jogos img{
    margin:12px;
    padding:1px;
    width: 180px;
    position:relative;
    top:70px;
    left:170px;
    float:left;
    
}

.cont-jogos .jogos 
    img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        border: 1px solid blue;
      }

.cont-jogos .jogos #img-jogo{
    color:black;
    font-style: normal;
    font-size: 20px;
    float:right;
    font-family: 'New Tegomin', sans-serif;
    position: relative;
    top:1550px;
}