.noticia .titulo h1{
    color:black;
    position: relative;
    top:20px;
    text-align: center;
    font-family: 'New Tegomin', sans-serif;
}

.noticia .img-noticia1 {
    max-width: 400px;
    position: relative;
    top:25px;
    left:250px;
}

.noticia .desc1{
    font-size: 15px;
    margin-top: 35px;
    margin-left: 255px;
    margin-bottom: 15px;
}


.noticia .img-noticia1:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 
  }


.noticia .img-noticia2{
    max-width: 400px;
    position: relative;
    bottom:270px;
    margin-left: 700px;
}

.noticia .desc2{
    font-size: 15px;
    margin-left: 65px;
    position: relative;
    bottom:260px;
    margin-left: 700px;
}

.noticia .img-noticia2:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 
  }

footer h1{
    text-align: center;
}