/*Titulo Noticias*/
.noticia .titulo h1{
    color:rgb(0, 0, 0);
    position: relative; /*Relativo ao conteudo adjacente*/
    top:20px;
    text-align: center;
    font-family: 'New Tegomin', sans-serif;
}

/*Primeira noticia*/
.noticia .img-noticia1 {
    max-width: 400px;
    position: relative;
    top:25px;
    left:250px;
}

/*Descricao da noticia 1*/
.noticia .desc1{
    font-size: 15px;
    margin-top: 35px;
    margin-left: 255px;
    margin-bottom: 15px;
}

/*Animacao que ocorre ao passar o mouse por cima*/
.noticia .img-noticia1:hover {

    /*Tipo de motor de renderizacao*/
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 
  }

/*Segunda noticia*/
.noticia .img-noticia2{
    max-width: 400px;
    position: relative;
    bottom:270px;
    margin-left: 700px;
}

/*Descricao da segunda noticia*/
.noticia .desc2{
    font-size: 15px;
    margin-left: 65px;
    position: relative;
    bottom:260px;
    margin-left: 700px;
}


/*Animacao igual a primeira noticia*/
.noticia .img-noticia2:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 
  }


/*Rodape, apto a alteracoes*/
footer h1{
    text-align: center;
}