/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
  }
  
  input, label {
    display: block;
    outline: none;
    width: 100%;
  }
  

  
  body {
    background: url('../img/games.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  /* form */
  #main-container {
    width: 500px;
    background: rgba(255, 255, 255, 0.507);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 25px;
  }
  
  #main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .full-box {
    flex: 1 1 100%;
    position: relative;
    
  }
  
  .half-box {
    position: relative;
    box-shadow:1px; 
  }
  
  .spacing {
    margin-right: 2.5%;
  }
  
  label {
    font-weight: bold;
    font-size: .8rem;
    color: rgb(0, 0, 0);
  }
  
  input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
  }
  
  input:focus {
    border-color: #1fddff;
  }
  
  input[type="submit"] {
    background-color: #00a5e6;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
  }
  
  #agreement {
    margin-right: 5px;
  }
  
  #agreement, #agreement-label {
    display: inline-block;
    width: auto;
  }
  
  .error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
  }
  
  .template {
    display: none;
  }

  .h1{
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 25px;
  }